<body>
<div class="everything">
<form [formGroup]="signUpForm" (submit)="processForm()">

  <h1>
    Username: <input type="text" formControlName="username">
  </h1>
  <h1>
    Password: <input type="password" formControlName="password">
  </h1>
  <div>
    Profile Picture: <input type="file" #toUpload>
  </div>
  <h2 *ngIf=failedSignUp style="color: red;">This Username Has Been Taken</h2>
  <div>
    <button type="submit" [disabled]="signUpForm.invalid">Submit</button>
  </div>
  <button type="button" (click)="navToHome()">Back To Login</button>
</form>
</div>
</body>
